
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  

}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background: linear-gradient(135deg,
            rgb(125, 55, 205) 0%,rgb(185, 205, 55) 50%,
            rgb(45, 253, 218) 100%);

  color: white;
}

.btn-edit{
    width: 48px;
    border: none;
    outline: none;
    background-color: transparent;
    color: rgb(246, 196, 16);

    &:hover{
        background-color: transparent !important;
        color: rgb(246, 196, 16);
    }
}

.btn-delete{
    width: 48px;
    border: none;
    outline: none;
    background-color: transparent;
    color: rgb(222, 61, 61);

    &:hover{
        background-color: transparent !important;
        color: rgb(222, 61, 61);

        
    }
}
